.Palette {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.Palette-colors {
  height: 90%;
}

.Palette-footer {
  background-color: lightgrey;
  height: 4.5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -2px;
}

.emoji {
  margin-left: 5px;
}
